#mbs-fwcommand {
	grid-template:
		"delete header accept cancel exit" min(9dvh, 4.5dvw)
		"commandInput commandInput commandInput commandInput commandInput" min(7dvh, 3.5dvw)
		"weightHeader weightHeader weightHeader weightHeader weightHeader" min(7dvh, 3.5dvw)
        "weightInput weightInput weightInput weightInput weightInput" min(7dvh, 3.5dvw) / min(9dvh, 4.5dvw) auto min(9dvh, 4.5dvw) min(9dvh, 4.5dvw) min(9dvh, 4.5dvw);
	
	.button-tooltip {
		--tooltip-gap: min(2dvh, 1dvw);
	}
}

#mbs-fwcommand-delete {
	grid-area: delete;
}

#mbs-fwcommand-header {
	grid-area: header;
	margin-left: min(20dvh, 10dvw);
}

#mbs-fwcommand-accept {
	grid-area: accept;
}

#mbs-fwcommand-cancel {
	grid-area: cancel;
}

#mbs-fwcommand-exit {
	grid-area: exit;
}

#mbs-fwcommand-command-input {
	grid-area: commandInput;
	height: min(7dvh, 3.5dvw);
	place-self: self-end center;
	width: 50%;
}

#mbs-fwcommand-weight-header {
	align-self: self-end;
	grid-area: weightHeader;
}

#mbs-fwcommand-weight-input {
	grid-area: weightInput;
	height: 100%;
    place-self: start center;
	width: calc(min(7dvh, 3.5dvw) + 16px);
}
