#mbs-fwselect {
	display: none;
	text-align: center;
	user-select: none;
	grid-row-gap: min(2vh, 1vw);
	grid-template:
		". buttonOuterGrid exit" 1fr
		"storage buttonOuterGrid ." 7.4fr
		"storageFooter buttonOuterGrid ." 1.7fr
		/ 2fr 7fr 1fr;
}

#mbs-fwselect-exit {
	grid-area: exit;
	height: min(9vh, 4.5vw);
	justify-self: end;
	width: min(9vh, 4.5vw);
}

#mbs-fwselect-storage {
	background-image: linear-gradient(180deg, #d80000, #d80000 10%, #00d800 60%, #00d800);
	border: min(0.3vh, 0.15vw) solid black;
	display: grid;
	grid-area: storage;
	height: 100%;
	justify-self: center;
	width: 35%;
}

#mbs-fwselect-storage #mbs-fwselect-storage-tooltip {
	background-color: white;
	border: min(0.3vh, 0.15vw) solid black;
	color: black;
	font-size: min(3.5vh, 1.75vw);
	left: 15%;
	line-height: 1.4;
	min-height: min(9vh, 4.5vw);
	padding-left: min(2vh, 1vw);
	padding-right: min(2vh, 1vw);
	position: absolute;
	text-align: left;
	visibility: hidden;
	width: fit-content;

	&:hover #mbs-fwselect-storage-tooltip {
		visibility: visible;
	}
}

#mbs-fwselect-storage-cover {
	width: 100%;
}

#mbs-fwselect-storage-footer {
	font-size: min(3.5vh, 1.75vw);
	grid-area: storageFooter;
	height: min(7vh, 3.5vw);
	padding-top: min(1vh, 0.5vw);
}

#mbs-fwselect-button-grid-outer {
	display: grid;
	font-size: min(5vh, 2.5vw);
	grid-area: buttonOuterGrid;
	grid-template-rows: min(9vh, 4.5vw) auto min(9vh, 4.5vw) auto;
	height: 94%;
	overflow-y: scroll;
	padding-left: min(2vh, 1vw);
	padding-right: min(2vh, 1vw);
}

#mbs-fwselect-button-grid-inner0, #mbs-fwselect-button-grid-inner1 {
	display: grid;
	grid-template-columns: minmax(0, 4fr) minmax(0, 4fr);
	grid-gap: min(2vh, 1vw);
	padding-bottom: min(2vh, 1vw);
	padding-top: min(2vh, 1vw);
}

#mbs-fwselect-header0, #mbs-fwselect-header1 {
	align-items: center;
	background: white;
	display: flex;
	height: 100%;
	justify-content: center;
	position: sticky;
	top: 0%;
}
