#mbs-fwitemset {
	grid-template:
		"delete header header header accept cancel exit" min(9vh, 4.5vw)
		". . name-input name-input . . ." min(7vh, 3.5vw)
		". . outfit-input outfit-input outfit-button outfit-button outfit-button" min(7vh, 3.5vw)
		". . strip-header lock-header lock-header lock-header lock-header" min(7vh, 3.5vw)
		". . strip-input lock-grid lock-grid lock-grid lock-grid" min(7vh, 3.5vw)
		". . equip-header lock-grid lock-grid lock-grid lock-grid" min(7vh, 3.5vw)
		". . equip-input lock-grid lock-grid lock-grid lock-grid" min(7vh, 3.5vw)
		". . weight-header lock-grid lock-grid lock-grid lock-grid" min(7vh, 3.5vw)
		". . weight-input lock-grid lock-grid lock-grid lock-grid" min(7vh, 3.5vw) / min(9vh, 4.5vw) min(40vh, 20vw) auto min(38vh, 19vw) min(16vh, 8vw) min(9vh, 4.5vw) min(9vh, 4.5vw);

	span {
		place-self: end start;
	}
}

#mbs-fwitemset-delete {
	grid-area: delete;
}

#mbs-fwitemset-header {
	grid-area: header;
	margin-left: min(20vh, 10vw);
}

#mbs-fwitemset-accept {
	grid-area: accept;
	justify-self: end;
}

#mbs-fwitemset-cancel {
	grid-area: cancel;
}

#mbs-fwitemset-exit {
	grid-area: exit;
}

#mbs-fwitemset-outfit-name {
	grid-area: name-input;
}

#mbs-fwitemset-outfit-input {
	grid-area: outfit-input;
}

#mbs-fwitemset-outfit-div {
	grid-area: outfit-button;
	grid-template-columns: auto;
	grid-template-rows: min(7vh, 3.5vw) auto;
}

#mbs-fwitemset-strip-header {
	grid-area: strip-header;
}

#mbs-fwitemset-strip-dropdown {
	grid-area: strip-input;
	width: min(40vh, 20vw);
}

#mbs-fwitemset-equip-header {
	grid-area: equip-header;
}

#mbs-fwitemset-equip-dropdown {
	grid-area: equip-input;
	width: min(40vh, 20vw);
}

#mbs-fwitemset-weight-header {
	grid-area: weight-header;
}

#mbs-fwitemset-weight-input {
	align-self: start;
	grid-area: weight-input;
	height: 100%;
	width: calc(min(7vh, 3.5vw) + 16px);
}

#mbs-fwitemset-lock-header {
	grid-area: lock-header;
}

#mbs-fwitemset-lock-grid {
	align-self: start;
	display: grid;
	gap: min(2vh, 1vw);
	grid-area: lock-grid;
	grid-template-columns: min(38vh, 19vw) min(38vh, 19vw);
	overflow-y: scroll;
}

.mbs-fwitemset-lock-container {
	align-items: center;
	display: grid;
	word-wrap: break-word;
	gap: min(2vh, 1vw);
	grid-template-columns: min(7vh, 3.5vw) auto;
}

.mbs-timer {
	height: 100%;
	text-align: center;
	width: 100%;
}

#mbs-fwitemset-strip-dropdown-content, #mbs-fwitemset-equip-dropdown-content {
	width: min-content;
}
