#mbs-fwitemset {
	grid-template:
		"delete header header header accept cancel exit" min(9dvh, 4.5dvw)
		". . name-input name-input . . ." min(7dvh, 3.5dvw)
		". . outfit-input outfit-input outfit-button outfit-button outfit-button" min(7dvh, 3.5dvw)
		". . strip-header lock-header lock-header lock-header lock-header" min(7dvh, 3.5dvw)
		". . strip-input lock-grid lock-grid lock-grid lock-grid" min(7dvh, 3.5dvw)
		". . equip-header lock-grid lock-grid lock-grid lock-grid" min(7dvh, 3.5dvw)
		". . equip-input lock-grid lock-grid lock-grid lock-grid" min(7dvh, 3.5dvw)
		". . weight-header lock-grid lock-grid lock-grid lock-grid" min(7dvh, 3.5dvw)
		". . weight-input lock-grid lock-grid lock-grid lock-grid" min(7dvh, 3.5dvw) / min(9dvh, 4.5dvw) min(40dvh, 20dvw) auto min(38dvh, 19dvw) min(16dvh, 8dvw) min(9dvh, 4.5dvw) min(9dvh, 4.5dvw);

	span {
		place-self: end start;
	}
}

#mbs-fwitemset-delete {
	grid-area: delete;
}

#mbs-fwitemset-header {
	grid-area: header;
	margin-left: min(20dvh, 10dvw);
}

#mbs-fwitemset-accept {
	grid-area: accept;
	justify-self: end;
}

#mbs-fwitemset-cancel {
	grid-area: cancel;
}

#mbs-fwitemset-exit {
	grid-area: exit;
}

#mbs-fwitemset-outfit-name {
	grid-area: name-input;
}

#mbs-fwitemset-outfit-input {
	grid-area: outfit-input;
}

#mbs-fwitemset-outfit-div {
	grid-area: outfit-button;
	grid-template-columns: auto;
	grid-template-rows: min(7dvh, 3.5dvw) auto;
}

#mbs-fwitemset-strip-header {
	grid-area: strip-header;
}

#mbs-fwitemset-strip-dropdown {
	grid-area: strip-input;
	width: min(40dvh, 20dvw);
}

#mbs-fwitemset-equip-header {
	grid-area: equip-header;
}

#mbs-fwitemset-equip-dropdown {
	grid-area: equip-input;
	width: min(40dvh, 20dvw);
}

#mbs-fwitemset-weight-header {
	grid-area: weight-header;
}

#mbs-fwitemset-weight-input {
	align-self: start;
	grid-area: weight-input;
	height: 100%;
	width: calc(min(7dvh, 3.5dvw) + 16px);
}

#mbs-fwitemset-lock-header {
	grid-area: lock-header;
}

#mbs-fwitemset-lock-grid {
	align-self: start;
	display: grid;
	gap: min(2dvh, 1dvw);
	grid-area: lock-grid;
	grid-template-columns: min(38dvh, 19dvw) min(38dvh, 19dvw);
	overflow-y: scroll;
}

.mbs-fwitemset-lock-container {
	align-items: center;
	display: grid;
	word-wrap: break-word;
	gap: min(2dvh, 1dvw);
	grid-template-columns: min(7dvh, 3.5dvw) auto;
}

.mbs-timer {
	height: 100%;
	text-align: center;
	width: 100%;
}

#mbs-fwitemset-strip-dropdown-content, #mbs-fwitemset-equip-dropdown-content {
	width: min-content;
}
