#mbs-fwcommand {
	--gap: min(2dvh, 1dvw);
	--half-gap: calc(var(--gap) / 2);
	--height: min(7dvh, 3.5dvw);
	--menu-button-size: min(9dvh, 4.5dvw);

	gap: var(--gap);
	grid-template:
		"header" min-content
		"main" auto / auto;

	.button-tooltip {
		--tooltip-gap: var(--gap);
	}

	.screen-header {
		direction: rtl;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: min-content auto min-content;

		button {
			direction: ltr;
			height: var(--menu-button-size);
			width: var(--menu-button-size);
		}

		h1 {
			font-size: var(--mbs-font-large);
			font-weight: bold;
		}
	}

	.screen-hgroup {
		color: black;
		grid-area: unset;
	}

	.screen-main {
		& > fieldset {
			border: unset;
			margin: unset;
			padding: unset;

			&:not(:last-child) {
				padding-bottom: var(--gap);
			}
		}

		& > fieldset[name="main"] {
			display: grid;
			gap: var(--gap);
			grid-template:
				"commandInput" min(7dvh, 3.5dvw)
				"weightHeader" min(7dvh, 3.5dvw)
				"weightInput" min(7dvh, 3.5dvw) / auto;
			justify-items: center;
		}
	}
}

#mbs-fwcommand-command-input {
	grid-area: commandInput;
	height: min(7dvh, 3.5dvw);
	width: 50%;
}

#mbs-fwcommand-weight-header {
	align-self: end;
	grid-area: weightHeader;
}

#mbs-fwcommand-weight-input {
	grid-area: weightInput;
	height: 100%;
	width: calc(min(7dvh, 3.5dvw) + 16px);
}
