#mbs-fwselect {
	grid-template:
		". buttonOuterGrid exit" min(9vh, 4.5vw)
		"storage buttonOuterGrid ." auto
		"storageFooter buttonOuterGrid ." min(14vh, 7vw) / min(30vh, 15vw) auto min(20vh, 10vw);
}

#mbs-fwselect-exit {
	grid-area: exit;
	height: min(9vh, 4.5vw);
	justify-self: end;
	width: min(9vh, 4.5vw);
}

#mbs-fwselect-storage {
	background-image: linear-gradient(180deg, #d80000, #d80000 10%, #00d800 60%, #00d800);
	border: min(0.3vh, 0.15vw) solid var(--mbs-border-color);
	display: grid;
	grid-area: storage;
	height: 100%;
	justify-self: center;
	width: 35%;

	h6 {
		font-size: var(--mbs-font-small);
		margin: 0;
	}

	ul {
		font-size: var(--mbs-font-small);
		margin: 0;
		text-align: left;
	}

	#mbs-fwselect-storage-tooltip {
		bottom: unset;
		left: 15%;
		position: absolute;
		visibility: hidden;
	}

	&:hover #mbs-fwselect-storage-tooltip {
		visibility: visible;
	}
}

#mbs-fwselect-storage-cover {
	width: 100%;
}

#mbs-fwselect-storage-footer {
	font-size: var(--mbs-font-small);
	grid-area: storageFooter;
	height: min(7vh, 3.5vw);
	padding-top: min(1vh, 0.5vw);
}

#mbs-fwselect-button-grid-outer {
	display: grid;
	grid-area: buttonOuterGrid;
	grid-template-rows: min(9vh, 4.5vw) auto min(9vh, 4.5vw) auto;
	height: 94%;
	overflow-y: scroll;
	padding-left: min(2vh, 1vw);
	padding-right: min(2vh, 1vw);
}

#mbs-fwselect-button-grid-inner0, #mbs-fwselect-button-grid-inner1 {
	display: grid;
	grid-template-columns: minmax(0, 4fr) minmax(0, 4fr);
	grid-gap: min(2vh, 1vw);
	padding-bottom: min(2vh, 1vw);
	padding-top: min(2vh, 1vw);
}

#mbs-fwselect-header0, #mbs-fwselect-header1 {
	align-items: center;
	background: var(--mbs-background-color);
	display: flex;
	height: 100%;
	justify-content: center;
	position: sticky;
	top: 0%;
}
