#mbs-fwpreset {
	grid-template:
		"delete header accept save exit" min(9vh, 4.5vw)
		"mid mid mid mid mid" auto / min(9vh, 4.5vw) auto min(9vh, 4.5vw) min(9vh, 4.5vw) min(9vh, 4.5vw);
}

#mbs-fwpreset-delete {
	grid-area: delete;
}

#mbs-fwpreset-header {
	grid-area: header;
	margin-left: min(20vh, 10vw);
}

#mbs-fwpreset-accept {
	grid-area: accept;
}

#mbs-fwpreset-save {
	grid-area: save;
}

#mbs-fwpreset-exit {
	grid-area: exit;
}

#mbs-fwpreset-mid-div {
	display: grid;
	grid-area: mid;
	text-align: center;
	grid-gap: min(2vh, 1vw);
	font-size: min(3.5vh, 1.75vw);
	grid-template:
		"name-header builtin-bc-header builtin-mbs-header custom-mbs-header" min(9vh, 4.5vw)
		"name builtin-bc builtin-mbs custom-mbs" auto / min(40vh, 15vw) min(40vh, 20vw) min(30vh, 15vw) min(70vh, 35vw);
	justify-items: center;
	justify-self: center;
}

#mbs-fwpreset-name-header {
	align-self: center;
	grid-area: name-header;
}

#mbs-fwpreset-builtin-bc-header {
	align-self: center;
	grid-area: builtin-bc-header;
}

#mbs-fwpreset-builtin-mbs-header {
	align-self: center;
	grid-area: builtin-mbs-header;
}

#mbs-fwpreset-custom-mbs-header {
	align-self: center;
	grid-area: custom-mbs-header;
}

.mbs-fwpreset-grid {
	display: grid;
	grid-gap: min(1.2vh, 0.6vw);
	grid-auto-flow: column;
	grid-template-rows: repeat(8, min(7vh, 3.5vw));
}

#mbs-fwpreset-name-div {
	grid-area: name;
}

#mbs-fwpreset-name-input {
	font-size: min(3.5vh, 1.75vw);
	height: min(7vh, 3.5vw);
	width: min(35vh, 17.5vw);
}

#mbs-fwpreset-name-dropdown-div {
	height: min(7vh, 3.5vw);
	position: relative;
	top: 5%;
	width: min(36vh, 18vw);
}

#mbs-fwpreset-builtin-bc-div {
	grid-area: builtin-bc;
	grid-template-columns: repeat(4, min(7vh, 3.5vw));
}

#mbs-fwpreset-builtin-mbs-div {
	grid-area: builtin-mbs;
	grid-template-columns: min(7vh, 3.5vw);
}

#mbs-fwpreset-custom-mbs-div {
	grid-area: custom-mbs;
	grid-template-columns: repeat(8, min(7vh, 3.5vw));
}

.mbs-fwpreset-color {
	height: 90%;
	left: 5%;
	position: relative;
	top: 5%;
	width: 90%;

	&[data-color="red"] {
		background-color: red;
	}

	&[data-color="green"] {
		background-color: green;
	}

	&:focus {
		filter: brightness(60%);
	}

	&:focus + .mbs-button-tooltip {
		visibility: visible;
	}
}

.mbs-fwpreset {
	background-color: var(--mbs-background-color);
	border: min(0.3vh, 0.15vw) solid var(--mbs-border-color);
	display: grid;
	grid-template-columns: min(7vh, 3.5vw);
	grid-template-rows: min(7vh, 3.5vw) auto;
	height: min(7vh, 3.5vw);
	width: min(7vh, 3.5vw);

	h6 {
		font-size: min(3.5vh, 1.75vw);
		margin: 0;
	}

	ul {
		font-size: min(3vh, 1.5vw);
		margin: 0;
		text-align: left;
	}

	&:hover .mbs-fwpreset-color {
		filter: brightness(60%);
	}

	&:hover .mbs-button-tooltip {
		visibility: visible;
	}
}
