#mbs-fwpreset {
	grid-template:
		"delete header accept save exit" min(9dvh, 4.5dvw)
		"mid mid mid mid mid" auto
		/ min(9dvh, 4.5dvw) auto min(9dvh, 4.5dvw) min(9dvh, 4.5dvw) min(9dvh, 4.5dvw);

	.button-tooltip {
		--tooltip-gap: min(2dvh, 1dvw);
	}
}

#mbs-fwpreset-delete {
	grid-area: delete;
}

#mbs-fwpreset-header {
	grid-area: header;
	margin-left: min(20dvh, 10dvw);
}

#mbs-fwpreset-accept {
	grid-area: accept;
}

#mbs-fwpreset-save {
	grid-area: save;
}

#mbs-fwpreset-exit {
	grid-area: exit;
}

#mbs-fwpreset-mid-div {
	display: grid;
	grid-area: mid;
	text-align: center;
	grid-gap: min(2dvh, 1dvw);
	grid-template:
		"name-header builtin-bc-header builtin-mbs-header custom-mbs-header" min(9dvh, 4.5dvw)
		"name builtin-bc builtin-mbs custom-mbs" auto / auto min-content min-content min-content;
	justify-items: center;
	justify-self: center;
	width: 100%;

	> p {
		text-wrap: nowrap;
	}
}

#mbs-fwpreset-name-header {
	grid-area: name-header;
}

#mbs-fwpreset-builtin-bc-header {
	grid-area: builtin-bc-header;
}

#mbs-fwpreset-builtin-mbs-header {
	grid-area: builtin-mbs-header;
}

#mbs-fwpreset-custom-mbs-header {
	grid-area: custom-mbs-header;
}

.mbs-fwpreset-grid {
	display: grid;
	grid-gap: min(1.2dvh, 0.6dvw);
	grid-auto-flow: column;
	grid-template-rows: repeat(8, min(7dvh, 3.5dvw));
	width: fit-content;
}

#mbs-fwpreset-name-div {
	grid-area: name;
}

#mbs-fwpreset-name-input {
	height: min(7dvh, 3.5dvw);
	width: min(35dvh, 17.5dvw);
}

#mbs-fwpreset-name-dropdown {
	height: min(7dvh, 3.5dvw);
	margin-top: min(2dvh, 1dvw);
	width: min(36dvh, 18dvw);
}

#mbs-fwpreset-builtin-bc-div {
	grid-area: builtin-bc;
	grid-template-columns: repeat(4, min(7dvh, 3.5dvw));
}

#mbs-fwpreset-builtin-mbs-div {
	grid-area: builtin-mbs;
	grid-template-columns: min(7dvh, 3.5dvw);
}

#mbs-fwpreset-custom-mbs-div {
	grid-area: custom-mbs;
	grid-template-columns: repeat(8, min(7dvh, 3.5dvw));
}

.mbs-fwpreset {
	border: min(0.2dvh, 0.1dvw) solid black;

	&::before {
		content: "";
		height: 90%;
		left: 5%;
		position: absolute;
		top: 5%;
		width: 90%;
	}

	&[data-color="red"]::before {
		background-color: red;
	}

	&[data-color="green"]::before {
		background-color: green;
	}
}
