#mbs-fwpreset {
	--gap: min(2dvh, 1dvw);
	--half-gap: calc(var(--gap) / 2);
	--height: min(7dvh, 3.5dvw);
	--menu-button-size: min(9dvh, 4.5dvw);

	gap: var(--gap);
	grid-template:
		"header" min-content
		"main" auto / auto;

	.screen-header {
		direction: rtl;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: min-content auto min-content;

		button {
			direction: ltr;
			height: var(--menu-button-size);
			width: var(--menu-button-size);
		}

		h1 {
			font-size: var(--mbs-font-large);
			font-weight: bold;
		}
	}

	.screen-hgroup {
		color: black;
		grid-area: unset;
	}

	.button-tooltip {
		--tooltip-gap: var(--gap);
	}

	.screen-main {
		& > fieldset {
			border: unset;
			margin: unset;
			padding: unset;
		}

		h2 {
			font-size: 1em;
			font-weight: normal;
			margin: unset;
			padding: unset;
		}

		ul {
			margin-block: 0.15em;
		}

		fieldset[name="main"] {
			display: grid;
			text-align: center;
			grid-gap: var(--gap);
			grid-template:
				"name-header builtin-bc-header builtin-mbs-header custom-mbs-header" var(--menu-button-size)
				"name builtin-bc builtin-mbs custom-mbs" auto / auto min-content min-content min-content;
			justify-items: center;
			justify-self: center;
			width: 100%;

			> p {
				text-wrap: nowrap;
			}
		}
	}
}

#mbs-fwpreset-name-header {
	grid-area: name-header;
}

#mbs-fwpreset-builtin-bc-header {
	grid-area: builtin-bc-header;
}

#mbs-fwpreset-builtin-mbs-header {
	grid-area: builtin-mbs-header;
}

#mbs-fwpreset-custom-mbs-header {
	grid-area: custom-mbs-header;
}

.mbs-fwpreset-grid {
	display: grid;
	grid-gap: min(1.2dvh, 0.6dvw);
	grid-auto-flow: column;
	grid-template-rows: repeat(8, var(--height));
	width: fit-content;
}

#mbs-fwpreset-name-div {
	grid-area: name;
}

#mbs-fwpreset-name-input {
	height: var(--height);
	width: 100%;
}

#mbs-fwpreset-name-dropdown {
	height: var(--height);
	margin-top: var(--gap);
	width: 100%;
}

#mbs-fwpreset-builtin-bc-div {
	grid-area: builtin-bc;
	grid-template-columns: repeat(4, var(--height));
}

#mbs-fwpreset-builtin-mbs-div {
	grid-area: builtin-mbs;
	grid-template-columns: var(--height);
}

#mbs-fwpreset-custom-mbs-div {
	grid-area: custom-mbs;
	grid-template-columns: repeat(8, var(--height));
}

.mbs-fwpreset {
	border: min(0.2dvh, 0.1dvw) solid black;

	&::before {
		content: "";
		height: 90%;
		left: 5%;
		position: absolute;
		top: 5%;
		width: 90%;
	}

	&[data-color="red"]::before {
		background-color: red;
	}

	&[data-color="green"]::before {
		background-color: green;
	}
}
