#mbs-preference {
	--gap: min(2dvh, 1dvw);
	--half-gap: calc(var(--gap) / 2);
	--height: min(7dvh, 3.5dvw);
	--menu-button-size: min(9dvh, 4.5dvw);

	column-gap: var(--gap);
	grid-template:
		"header header" min-content
		"main aside" auto / auto min-content;

	p {
		margin-block: 0.5em;
	}

	.button-tooltip {
		--tooltip-gap: min(2dvh, 1dvw);
	}

	& > aside {
		display: grid;
		grid-area: aside;
	}

	.screen-header {
		direction: rtl;
		display: grid;
		gap: var(--gap);
		grid-template-columns: min-content auto;
	}

	.screen-hgroup {
		color: black;
		grid-area: unset;

		h1 {
			font-size: var(--mbs-font-large);
			font-weight: bold;
		}
	}

	h2 {
		font-size: var(--mbs-font-large);
		font-weight: bold;
		margin-bottom: unset;
		padding-left: var(--menu-button-size);
		text-align: center;
	}

	.screen-main {
		padding-left: min(40dvh, 20dvw);

		& > section:first-child h2 {
			margin-top: unset;
		}
	}
}

.mbs-preference-settings-pair {
	align-items: center;
	column-gap: var(--gap);
	display: grid;
	grid-template-columns: var(--menu-button-size) auto;
	padding-right: 0.15em;
	text-align: justify;

	button {
		height: var(--menu-button-size);
		width: var(--menu-button-size);
	}
}

#mbs-preference-misc {
	align-self: self-end;
	margin: unset;
	padding: unset;

	li {
		list-style-type: none;

		&:not(:last-child) {
			padding-bottom: min(2dvh, 1dvw);
		}
	}

	button {
		height: var(--menu-button-size);
		width: calc(2 * var(--gap) + 3 * var(--menu-button-size));
	}

	.button-label {
		font-size: inherit;
		left: calc(2% + min(90px, 9dvh, 4.5dvw));
		width: calc(96% - min(90px, 9dvh, 4.5dvw));
	}

	.button-image {
		height: min(90px, 9dvh, 4.5dvw);
		left: 2%;
		top: 50%;
		transform: translateY(-50%);
		width: min(90px, 9dvh, 4.5dvw);
	}
}

#mbs-preference-reset {
	grid-area: reset;
	grid-template-columns: min(40dvh, 20dvw);

	button:not(:hover) {
		background-color: pink;
	}
}

#mbs-preference-reset-screen {
	background: rgb(0 0 0 / 30%);
}

#mbs-preference-reset-background {
	background: url("https://bananarama92.github.io/MBS/main/images/SheetMBS.png") var(--mbs-background-color);
	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	height: 80%;
	justify-self: center;
	left: 10%;
	mask-image: url("https://bananarama92.github.io/MBS/main/images/SheetMBS.png");
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	padding: min(6dvh, 3dvw);
	padding-top: min(3dvh, 1.5dvw);
	position: relative;
	text-align: center;
	top: 10%;
	width: 80%;
	word-break: break-word;
}

#mbs-preference-reset-grid {
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;

	.button {
		height: var(--menu-button-size);
		width: calc(3 * var(--gap) + 4 * var(--menu-button-size));
	}
}
