#mbs-preference {
	grid-template:
		"header header exit" min(9dvh, 4.5dvw)
		"settings misc misc" auto
		/ auto min(29dvh, 14.5dvw) min(9dvh, 4.5dvw);
}

#mbs-preference-header {
	grid-area: header;
}

#mbs-preference-exit {
	grid-area: exit;
}

.mbs-preference-settings-pair {
	grid-column-gap: min(3dvh, 1.5dvw);
	align-items: center;
	display: grid;
	grid-template-columns: min(9dvh, 4.5dvw) auto;
	padding-right: min(6dvh, 3dvw);
	text-align: justify;

	button {
		height: min(9dvh, 4.5dvw);
		width: min(9dvh, 4.5dvw);
	}

	&> p {
		margin: 0;
	}
}

#mbs-preference-settings {
	display: grid;
	grid-area: settings;
	height: 100%;
	overflow: hidden scroll;
	grid-gap: min(2dvh, 1dvw);
}

#mbs-preference-misc {
	align-self: self-end;
	display: grid;
	grid-gap: min(2dvh, 1dvw);
	grid-area: misc;
	grid-template:
		"reset reset" min(9dvh, 4.5dvw)
		"import export" min(9dvh, 4.5dvw)
		"changelog changelog" min(9dvh, 4.5dvw)
		/ auto auto;

	button {
		background-origin: padding-box;
		background-position: left;
		background-size: min(7dvh, 3.5dvw) min(7dvh, 3.5dvw);
	}
}

#mbs-preference-reset {
	grid-area: reset;
	grid-template-columns: min(40dvh, 20dvw);

	button:not(:hover) {
		background-color: pink;
	}
}

#mbs-preference-import {
	grid-area: import;
	grid-template-columns: min(19dvh, 9.5dvw);
}

#mbs-preference-export {
	grid-area: export;
	grid-template-columns: min(19dvh, 9.5dvw);
}

#mbs-preference-changelog {
	grid-area: changelog;
	grid-template-columns: min(40dvh, 20dvw);
}

#mbs-preference-reset-screen {
	align-items: center;
	background-color: rgb(0 0 0 / 70%);
	z-index: 2;
}

#mbs-preference-reset-background {
	background: url("https://bananarama92.github.io/MBS/main/images/SheetMBS.png") var(--mbs-background-color);
	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	height: 80%;
	justify-self: center;
	mask-image: url("https://bananarama92.github.io/MBS/main/images/SheetMBS.png");
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	padding: min(6dvh, 3dvw);
	padding-top: min(3dvh, 1.5dvw);
	position: relative;
	width: 80%;
	word-break: break-word;
}

#mbs-preference-reset-grid {
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
	padding-top: min(10dvh, 5dvw);

	.mbs-button {
		height: min(9dvh, 4.5dvw);
		width: min(27dvh, 13.5dvw);
	}
}
