#mbs-shop-root {
    display: grid;
    grid-template-rows: 2fr 3fr;

    & > span {
        color: white;
        place-self: center center;
        user-select: none;
    }
}

#mbs-shop-select {
    background-color: var(--mbs-button-color);
    border: min(0.3dvh, 0.15dvw) solid var(--mbs-border-color);
    box-sizing: border-box;
    color: var(--mbs-text-color);
    cursor: pointer;
    font: inherit;

    &:disabled {
        background-color: color-mix(in srgb, var(--mbs-background-color) 60%, black 40%);
        cursor: auto;
    }
}

/* stylelint-disable selector-id-pattern */

#Shop2GroupSelect, #Shop2PoseSelect {
    z-index: 1;
}
