@media (hover: hover) {
	@supports selector(:has(*)) {
		.button-styling:hover:not(:has(.button-tooltip:hover)) {
			background-color: var(--hover-color);
		}

		.button:hover:not(:has(.button-tooltip:hover)) > .button-tooltip {
			visibility: visible;
		}
	}

	@supports not selector(:has(*)) {
		.button-styling:hover {
			background-color: var(--hover-color);
		}

		.button:hover > .button-tooltip {
			visibility: visible;
		}
	}
}

.chat-room-changelog ul {
    margin: unset;
    padding: 0.5em 1em;
}

.chat-room-changelog h1,
.chat-room-changelog h2,
.chat-room-changelog h3,
.chat-room-changelog h4,
.chat-room-changelog h5,
.chat-room-changelog h6,
.chat-room-changelog [role="heading"] {
  font-size: inherit;
  margin: unset;
  padding: 0.25em;
  text-align: center;
}

.chat-room-changelog-button {
    height: 1em;
    width: 1em;
}

.chat-room-changelog-button-collapse > .button-label {
    font-size: unset;
}

.chat-room-changelog-header-div > span[aria-hidden="true"] {
    text-align: center;
    width: 0.5em;
}

.chat-room-changelog-image {
	margin: unset;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

/* stylelint-disable */
#TextAreaChatLog {
    overflow-y: scroll;
}
