/* stylelint-disable no-empty-source */

.dialog-status {
	display: block;
	line-clamp: unset;
	-webkit-line-clamp: unset;
	-webkit-box-orient: unset;
	max-height: 4.8em; /* 4 lines */
	min-height: 1.2em; /* 1 line */
	overflow: hidden auto;
	scroll-padding: 3px;
	scrollbar-color: rgb(149 149 149) rgb(0 0 0 / 70%);
	scrollbar-gutter: stable;
}

@media (hover: hover) {
	.dialog-status {
		scrollbar-color: rgb(149 149 149 / 90%) rgb(0 0 0 / 40%);
		transition: scrollbar-color 0.3s ease;
	}

	.dialog-status:hover {
		scrollbar-color: rgb(149 149 149) rgb(0 0 0 / 70%);
	}
}

#dialog-dialog {
	grid-template:
		". dialog-status dialog-menubar" min-content
		"dialog-paginate dialog-grid dialog-grid" auto / var(--menu-button-size) auto calc(var(--menu-button-size) + 3px + var(--scrollbar-gutter));
}

#dialog-dialog-status {
	line-clamp: unset;
	-webkit-line-clamp: unset;
	max-height: 7.2em; /* 6 lines */
	min-height: 3.6em; /* 3 lines */
}
