/* stylelint-disable no-descending-specificity */

/* stylelint-disable selector-class-pattern */

*[role="radiogroup"][aria-required="true"] .button[role="radio"][aria-checked="true"],
*[role="menubar"][aria-required="true"] .button[role="menuitemradio"][aria-checked="true"],
*[role="menu"][aria-required="true"] .button[role="menuitemradio"][aria-checked="true"] {
	cursor: auto;
}

*[role="menubar"][aria-required="true"] .button-styling[role="menuitemradio"][aria-checked="true"],
*[role="menu"][aria-required="true"] .button-styling[role="menuitemradio"][aria-checked="true"],
*[role="radiogroup"][aria-required="true"] .button-styling[role="radio"][aria-checked="true"] {
	background-color: color-mix(in srgb, var(--disabled-color) 50%, var(--hover-color) 50%) !important;
}

*[role="menubar"][aria-required="true"] .button-styling[role="menuitemradio"][aria-checked="true"] > .button-label,
*[role="menu"][aria-required="true"] .button-styling[role="menuitemradio"][aria-checked="true"] > .button-label,
*[role="radiogroup"][aria-required="true"] .button-styling[role="radio"][aria-checked="true"] > .button-label {
	background-color: color-mix(
		in srgb,
		color-mix(in srgb, var(--disabled-color) 50%, var(--hover-color) 50%),
		transparent
	) !important;
}

.dialog-crafted-info {
	text-align: left;
	text-indent: 1em hanging each-line;
}

@supports not (height: 100dvh) {
	#crafting-screen {
		--button-size: min(9vh, 4.5vw);
	}

	#crafting-header {
		font-size: min(5vh, 2.5vw);
	}

	#crafting-property-button {
		font-size: min(3vh, 1.5vw);
	}

	.button-tooltip {
		--tooltip-gap: min(1vh, 0.5vw);
	}

	.button-image ~ .button-label {
		font-size: min(2.6vh, 1.3vw);
	}

	.button-icon-grid {
		--icon-size: min(50px, 5vh, 2.5vw);

		left: min(0.3vh, 0.15vw);
		top: min(0.3vh, 0.15vw);
	}

	.button-styling[aria-checked="true"]::before,
	.button-styling:active::before,
	.button-styling[data-active]::before {
		border: min(0.4vh, 0.2vw) inset black;
	}

	.button-styling:disabled::before,
	.button-styling[aria-disabled="true"]::before {
		border: unset;
	}

	.button-styling[aria-checked="true"]::before {
		border: min(0.4vh, 0.2vw) inset black;
	}

	#chat-room-div {
		--button-size: min(8vh, 4vw);
	  }

	.chat-room-changelog-image {
		border: min(0.3vh, 0.15vw) solid black;
		margin-right: min(2vh, 1vw);
		margin-top: min(1vh, 0.5vw);
	}

	.chat-room-changelog + .chat-room-changelog {
		border-top: min(0.4vh, 0.2vw) solid black;
	}

	.chat-room-changelog ul {
		margin-top: min(1vh, 0.5vw);
		padding-left: min(4vh, 2vw);
	}

	.chat-room-changelog h1,
	.chat-room-changelog h2,
	.chat-room-changelog h3,
	.chat-room-changelog h4,
	.chat-room-changelog h5,
	.chat-room-changelog h6,
	.chat-room-changelog [role="heading"] {
		margin-bottom: min(1vh, 0.5vw);
		margin-top: min(1vh, 0.5vw);
		padding-left: min(1vh, 0.5vw);
		padding-right: min(1vh, 0.5vw);
	}

	.chat-room-changelog-button {
		height: min(4vh, 2vw);
		width: min(4vh, 2vw);
	}

	.chat-room-changelog-button-collapse > .button-label {
		font-size: min(2vh, 1vw);
	}

	.dialog-root {
		--menu-button-size: min(9vh, 4.5vw);
		--button-height: calc(min(25vh, 12.5vw) - 2px);
		--gap: min(2vh, 1vw);

		grid-template: ". dialog-status" min-content "dialog-paginate dialog-grid" auto / var(--menu-button-size) auto;
	}

	#dialog-crafted-info {
		grid-template:
			"dialog-crafted-name dialog-crafted-gap dialog-crafted-icon ." minmax(auto, min-content)
			"dialog-crafted-crafter dialog-crafted-gap dialog-crafted-icon ." minmax(auto, min-content)
			"dialog-crafted-property dialog-crafted-gap dialog-crafted-icon ." minmax(auto, min-content)
			"dialog-crafted-private dialog-crafted-gap dialog-crafted-icon ." minmax(auto, min-content)
			"dialog-crafted-footer dialog-crafted-footer dialog-crafted-footer dialog-crafted-footer" minmax(auto, min-content) / auto var(--gap) min(100%, 20vh, 10vw) max(20px, 1.25 * var(--gap));
	}

	.dialog-grid-button {
		width: min(100%, 20vh, 10vw);
	}

	.dialog-grid-button > .button-tooltip {
		font-size: min(2.6vh, 1.3vw);
		width: calc(400% + 4 * min(0.2vh, 0.1vw) + 3 * var(--gap));
	}
}

@media (hover: hover) {
	@supports not selector(:has) {
		.button-styling:hover,
		.button-styling:hover > .button-label {
			background-color: var(--hover-color);
		}

		.button:hover > .button-tooltip {
			visibility: visible;
		}
	}
}

@supports not (background-color: color-mix(in srgb, black 50%, transparent)) {
	.button-styling > .button-label {
		background-color: var(--button-color);
	}

	.button-styling[aria-checked="true"],
	.button-styling[aria-checked="true"] > .button-label,
	.button-styling:active > .button-label,
	.button-styling[data-active] > .button-label {
		background-color: var(--hover-color);
	}

	@media (hover: hover) {
		@supports selector(:has) {
			.button-styling:hover:not(:has(.button-tooltip:hover)) > .button-label {
				background-color: var(--hover-color);
			}
		}
	}

	.button-styling:disabled > .button-label,
	.button-styling[aria-disabled="true"] > .button-label {
		background-color: var(--disabled-color) !important;
	}

	*[role="menubar"][aria-required="true"] .button-styling[role="menuitemradio"][aria-checked="true"],
	*[role="menu"][aria-required="true"] .button-styling[role="menuitemradio"][aria-checked="true"],
	*[role="radiogroup"][aria-required="true"] .button-styling[role="radio"][aria-checked="true"],
	*[role="menubar"][aria-required="true"] .button-styling[role="menuitemradio"][aria-checked="true"] > .button-label,
	*[role="menu"][aria-required="true"] .button-styling[role="menuitemradio"][aria-checked="true"] > .button-label,
	*[role="radiogroup"][aria-required="true"] .button-styling[role="radio"][aria-checked="true"] > .button-label
	.dialog-grid-button:disabled[aria-checked="true"],
	.dialog-grid-button[aria-disabled="true"][aria-checked="true"],
	.dialog-grid-button:disabled[aria-checked="true"] > .button-label,
	.dialog-grid-button[aria-disabled="true"][aria-checked="true"] > .button-label {
		background-color: var(--hover-color) !important;
	}

	.chat-room-sep-div > button,
	.ChatMessageAction,
	.ChatMessageEmote,
	.ChatMessageActivity {
		background-color: var(--base-color);
	}
}
