:root {
	--mbs-background-color: white;
	--mbs-button-color: white;
	--mbs-hover-color: cyan;
	--mbs-tooltip-color: lightyellow;
	--mbs-border-color: black;
	--mbs-text-color: black;
	--mbs-font-small: min(3.5vh, 1.75vw);
	--mbs-font-large: min(5vh, 2.5vw);
	--mbs-font-family: arial, sans-serif;
}

.mbs-button {
	background-origin: content-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: clip;
	padding-left: min(2vh, 1vw);
	padding-right: min(2vh, 1vw);
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	&:hover {
		background-color: var(--mbs-hover-color);
	}

	&:disabled {
		background-color: var(--mbs-button-color);
		filter: brightness(60%);
	}
}

.mbs-button-tooltip {
	background-color: var(--mbs-tooltip-color) !important;
	border: min(0.3vh, 0.15vw) solid var(--mbs-border-color);
	bottom: -10%;
	box-shadow: min(0.4vh, 0.2vw) min(0.4vh, 0.2vw) min(2vh, 1vw) 0 rgb(0 0 0 / 50%);
	line-height: 1.4;
	padding: min(1vh, 0.5vw) min(2vh, 1vw) min(1vh, 0.5vw) min(2vh, 1vw);
	position: relative;
	text-align: center;
	visibility: hidden;
	white-space: nowrap;
	width: fit-content;
	z-index: 1;
}

.mbs-button-div {
	display: grid;
	grid-template-columns: min(9vh, 4.5vw);
	grid-template-rows: min(9vh, 4.5vw) auto;

	.mbs-button-tooltip {
		justify-self: center;
	}

	.mbs-button {
		height: inherit;
		width: inherit;

		&:hover + .mbs-button-tooltip {
			visibility: visible;
		}
	}
}

.mbs-timer {
	height: min(6vh, 3vw);
	text-align: center;
	width: min(21vh, 10.5vw);
}

.mbs-dropdown-button {
	border: unset !important;
	padding-bottom: min(1vh, 0.5vw);
	padding-top: min(1vh, 0.5vw);

	&:nth-child(even) {
		filter: brightness(85%);
	}
}

.mbs-dropdown-content {
	border: min(0.3vh, 0.15vw) solid var(--mbs-border-color);
	overflow-y: scroll;
	position: absolute;
	visibility: hidden;
	z-index: 1;
}

.mbs-dropdown:hover .mbs-dropdown-content {
	visibility: visible;
}

.mbs-screen {
	display: grid;
	position: fixed;
	text-align: center;
	user-select: none;
	visibility: hidden;
	grid-gap: min(2vh, 1vw);

	h1, h2, p, ul {
		align-items: center;
		align-self: center;
		color: var(--mbs-text-color);
		font-family: var(--mbs-font-family);
	}

	h1 {
		font-size: var(--mbs-font-large);
	}

	p, h2, ul {
		font-size: var(--mbs-font-small);
	}

	div, input {
		background-color: var(--mbs-background-color);
		color: var(--mbs-text-color);
		font-family: var(--mbs-font-family);
		font-size: var(--mbs-font-small);
	}

	button {
		background-color: var(--mbs-button-color);
		border: min(0.3vh, 0.15vw) solid var(--mbs-border-color);
		color: var(--mbs-text-color);
		font-family: var(--mbs-font-family);
		font-size: var(--mbs-font-small);
	}

	input:invalid {
		background-color: #fbb;
		box-shadow: 0 0 3px 2px #c22;
	}

	input[type="checkbox"] {
		border: min(0.3vh, 0.15vw) solid var(--mbs-border-color);
		height: min(7vh, 3.5vw);
		width: min(7vh, 3.5vw);

		&:hover {
			background-color: var(--mbs-hover-color);
		}

		&:disabled {
			background-color: var(--mbs-background-color);
			filter: brightness(60%);
		}

		&::before {
			height: min(4.6vh, 2.3vw);
			width: min(4.6vh, 2.3vw);
		}
	}
}
