:root {
	--mbs-background-color: white;
	--mbs-button-color: white;
	--mbs-hover-color: cyan;
	--mbs-tooltip-color: lightyellow;
	--mbs-border-color: black;
	--mbs-text-color: black;
	--mbs-font-small: min(3.5dvh, 1.75dvw);
	--mbs-font-large: min(5dvh, 2.5dvw);
	--mbs-font-family: arial, sans-serif;
}

.mbs-timer {
	height: min(6dvh, 3dvw);
	text-align: center;
	width: min(21dvh, 10.5dvw);
}

.mbs-screen {
	display: grid;
	position: fixed;
	text-align: center;
	user-select: none;
	visibility: hidden;
	grid-gap: min(2dvh, 1dvw);
	color: var(--mbs-text-color);
	font-family: var(--mbs-font-family);
	font-size: var(--mbs-font-small);

	h1, h2, h3, h4, h5, h6, [role="heading"], p, ul {
		align-items: center;
		align-self: center;
	}

	h1 {
		font-size: var(--mbs-font-large);
	}

	h2 {
		margin: min(1dvh, 0.5dvw);
	}

	ul {
		margin: 0;
		text-align: left;
	}

	input {
		background-color: var(--mbs-background-color);
		box-sizing: border-box;
		color: var(--mbs-text-color);
		font: inherit;
		font-family: var(--mbs-font-family);
		font-size: var(--mbs-font-small);
		padding: unset;

		&:invalid {
			background-color: #fbb;
			box-shadow: 0 0 3px 2px #c22;
		}

		&[type="checkbox"] {
			border: min(0.3dvh, 0.15dvw) solid var(--mbs-border-color);
			cursor: pointer;
			height: min(7dvh, 3.5dvw);
			width: min(7dvh, 3.5dvw);

			&:hover {
				background-color: var(--mbs-hover-color);
			}

			&:disabled {
				background-color: color-mix(in srgb, var(--mbs-background-color) 60%, black 40%);
				cursor: auto;
			}

			&::before {
				height: min(4.6dvh, 2.3dvw);
				width: min(4.6dvh, 2.3dvw);
			}
		}
	}

	select {
		background-color: var(--mbs-button-color);
		border: min(0.3dvh, 0.15dvw) solid var(--mbs-border-color);
		box-sizing: border-box;
		color: var(--mbs-text-color);
		cursor: pointer;
		font: inherit;
		font-family: var(--mbs-font-family);
		font-size: var(--mbs-font-small);
		text-overflow: ellipsis;

		&:disabled {
			background-color: color-mix(in srgb, var(--mbs-background-color) 60%, black 40%);
			cursor: auto;
		}
	}

	label {
		&:not(:has(:disabled)) > span {
			cursor: pointer;
		}
	}

	.button,
	.button-tooltip {
		border-width: min(0.3dvh, 0.15dvw);
	}
}
