:root {
	--mbs-background-color: white;
	--mbs-button-color: white;
	--mbs-hover-color: cyan;
	--mbs-tooltip-color: lightyellow;
	--mbs-border-color: black;
	--mbs-text-color: black;
	--mbs-font-small: min(3.5dvh, 1.75dvw);
	--mbs-font-large: min(5dvh, 2.5dvw);
	--mbs-font-family: arial, sans-serif;
}

.mbs-button {
	background-origin: content-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: clip;
	padding-left: min(2dvh, 1dvw);
	padding-right: min(2dvh, 1dvw);
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	&:hover {
		background-color: var(--mbs-hover-color);
	}

	&:disabled {
		background-color: var(--mbs-button-color);
		filter: brightness(60%);
	}
}

.mbs-button-tooltip {
	background-color: var(--mbs-tooltip-color) !important;
	border: min(0.3dvh, 0.15dvw) solid var(--mbs-border-color);
	bottom: -10%;
	box-shadow: min(0.4dvh, 0.2dvw) min(0.4dvh, 0.2dvw) min(2dvh, 1dvw) 0 rgb(0 0 0 / 50%);
	line-height: 1.4;
	padding: min(1dvh, 0.5dvw) min(2dvh, 1dvw);
	position: relative;
	text-align: center;
	visibility: hidden;
	white-space: nowrap;
	width: fit-content;
	z-index: 1;
}

.mbs-button-div {
	display: grid;
	grid-template-columns: min(9dvh, 4.5dvw);
	grid-template-rows: min(9dvh, 4.5dvw) auto;

	.mbs-button-tooltip {
		justify-self: center;
	}

	.mbs-button {
		height: inherit;
		width: inherit;

		&:hover + .mbs-button-tooltip {
			visibility: visible;
		}
	}
}

.mbs-timer {
	height: min(6dvh, 3dvw);
	text-align: center;
	width: min(21dvh, 10.5dvw);
}

.mbs-dropdown-button {
	border: unset !important;
	padding-bottom: min(1dvh, 0.5dvw);
	padding-top: min(1dvh, 0.5dvw);

	&:nth-child(even) {
		filter: brightness(85%);
	}
}

.mbs-dropdown-content {
	border: min(0.3dvh, 0.15dvw) solid var(--mbs-border-color);
	overflow-y: scroll;
	position: absolute;
	visibility: hidden;
	z-index: 1;
}

.mbs-dropdown:hover .mbs-dropdown-content {
	visibility: visible;
}

.mbs-screen {
	display: grid;
	position: fixed;
	text-align: center;
	user-select: none;
	visibility: hidden;
	grid-gap: min(2dvh, 1dvw);

	h1, h2, p, ul {
		align-items: center;
		align-self: center;
		color: var(--mbs-text-color);
		font-family: var(--mbs-font-family);
	}

	h1 {
		font-size: var(--mbs-font-large);
	}

	h2 {
		margin: min(1dvh, 0.5dvw);
	}

	ul {
		margin: 0;
		text-align: left;
	}

	p, h2, ul, span {
		font-size: var(--mbs-font-small);
	}

	div, input {
		background-color: var(--mbs-background-color);
		color: var(--mbs-text-color);
		font-family: var(--mbs-font-family);
		font-size: var(--mbs-font-small);
	}

	button {
		background-color: var(--mbs-button-color);
		border: min(0.3dvh, 0.15dvw) solid var(--mbs-border-color);
		color: var(--mbs-text-color);
		font-family: var(--mbs-font-family);
		font-size: var(--mbs-font-small);
	}

	input {
		box-sizing: border-box;
		padding: unset;
	}

	input:invalid {
		background-color: #fbb;
		box-shadow: 0 0 3px 2px #c22;
	}

	input[type="checkbox"] {
		border: min(0.3dvh, 0.15dvw) solid var(--mbs-border-color);
		height: min(7dvh, 3.5dvw);
		width: min(7dvh, 3.5dvw);

		&:hover {
			background-color: var(--mbs-hover-color);
		}

		&:disabled {
			background-color: var(--mbs-background-color);
			filter: brightness(60%);
		}

		&::before {
			height: min(4.6dvh, 2.3dvw);
			width: min(4.6dvh, 2.3dvw);
		}
	}
}
